@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "RightGrotesk-Medium";
  src: url("../src/assets/fonts/RightGrotesk-Medium.woff2"),
    url("../src/assets/fonts/RightGrotesk-Medium.woff"),
    url("../src/assets/fonts/RightGrotesk-Medium.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RightGrotesk-TallBold";
  src: url("../src/assets/fonts/RightGrotesk-TallBold.woff2"),
    url("../src/assets/fonts/RightGrotesk-TallBold.woff"),
    url("../src/assets/fonts/RightGrotesk-TallBold.ttf");
  font-style: normal;
  font-weight: normal;
}

:root {
  font-family: "RightGrotesk-Medium";
  line-height: 1.5;
  font-weight: 400;

  color: #2c3639;
  background-color: #dcd7c9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
